{% extends "base.html" %}
{% block head %}
<title>SCRadio</title>
<meta name="description" content="Сайт SCRadio: слушать онлайн">
<meta name="keywords" content="всрадио, scradio, слушать всрадио, scradio слушать онлайн">
<meta property="og:title" content="SCRadio | Главная страница">
<meta property="og:description" content="Сайт SCRadio: слушать онлайн">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ web_base_url }}">
<meta property="og:image" content="{{ web_base_url }}static/scradio.png">
{% endblock %}
{% block content %}
<div class="player">
{% if not metadata %}
<img id="song-info-cover" src="/static/scradio_big.png"></img>
<div class="song-info">
<div id="song-info-title" class="scroll song-info-string">SCRadio</div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-microphone"></i><span id="song-info-artist"></span></div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-record-vinyl"></i><span id="song-info-album"></span></div><br>
</div>
{% else %}
<img id="song-info-cover" src="{{ metadata.now_playing.cover_url }}"></img>
<div class="song-info">
<div id="song-info-title" class="scroll song-info-string">{{ metadata.now_playing.title }}</div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-microphone"></i><span id="song-info-artist">{{ metadata.now_playing.artist }}</span></div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-record-vinyl"></i><span id="song-info-album">{{ metadata.now_playing.album }}</span></div><br>
</div>
{% endif %}

<div class="toolbar-container">
<div class="toolbar">
<i id="song-playlist" class="fa-solid fa-list-ul"></i>
<i id="song-lyrics" class="fa-solid fa-file-lines"></i>
<span class="song-like-container">
<i id="song-dislike" class="fa-regular fa-thumbs-down"></i>
<span class="likes_count" id="song-dislikes"></span>
</span>
<i id="song-play" class="fa-solid fa-play"></i>
<span class="song-like-container">
<i id="song-like" class="fa-regular fa-thumbs-up"></i>
<span class="likes_count" id="song-likes"></span>
</span>
<i id="song-settings" class="fa-solid fa-gear"></i>
</div>
</div>

<div class="error-message">
<i class="fa-solid fa-circle-xmark"></i><span class="error-message-text"></span>
</div>

<div id="playlist-modal" class="modal">
<div class="modal-content">
<h1>Плейлист</h1>
<div id="playlist-content" class="modal-text">
<div class="track">
{% if not metadata %}
<img src="/static/scradio_big.png"></img>
<div class="track-info">
<div class="track-title scroll">SCRadio</div>
<div class="track-artist scroll"></div>
</div>
{% else %}
<img src="{{ metadata.now_playing.cover_url }}"></img>
<div class="track-info">
<div class="track-title scroll">{{ metadata.now_playing.title }}</div>
<div class="track-artist scroll">{{ metadata.now_playing.artist }}</div>
</div>
{% endif %}
<i class="fa-regular fa-thumbs-up"></i><span class="likes_count"></span>
<i class="fa-regular fa-thumbs-down"></i><span class="likes_count"></span>
</div>
</div>
<button id="playlist-close" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
</div>
</div>

<div id="settings-modal" class="modal">
<div class="modal-content">
<h1>Настройки</h1>
<div class="modal-text">
</div>
<button id="settings-cancel" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
<button id="settings-save" class="modal-btn"><i class="fa-solid fa-floppy-disk"></i> Сохранить</button>
</div>
</div>

<div id="lyrics-modal" class="modal">
<div class="modal-content">
<h1>Текст песни</h1>
<div id="lyrics-text" class="modal-text">
</div>
<button id="lyrics-close" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
</div>
</div>
<script>
window.playerStreams = [
{
"name": "Opus",
"url": "{{icecast_base_url}}scradio.opus",
"type": "audio/ogg"
},
{
"name": "MP3",
"url": "{{icecast_base_url}}scradio",
"type": "audio/mpeg"
}
];
</script>

<script src="/static/player.js"></script>
</div>

{% if new_year %}
<!-- Новогодний отсчет -->
<style>
.counter-box {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
	align-items: center;
}
.counter-item {
	font-size: 16px;
	text-align: center;
	width: 64px;
}
.counter-number {
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
}
#counter-message {
	width: 100%;
	text-align: center;
}
#counter-block {
	display: none;
}
#counter-block img {
	height: 48px;
	margin: 0 auto;
	display: block;
}
</style>
<div class="block2" id="counter-block">
<div id="counter">
<h1 id="counter-header">До Нового года осталось</h1>
<div class="counter-box">
<span class="counter-item">
<div class="counter-number" id="ny-days">1</div>
дней
</span>
<span class="counter-sep">:</span>
<span class="counter-item">
<div class="counter-number" id="ny-hours">2</div>
часов
</span>
<span class="counter-sep">:</span>
<span class="counter-item">
<div class="counter-number" id="ny-mins">3</div>
минут
</span>
<span class="counter-sep">:</span>
<span class="counter-item">
<div class="counter-number" id="ny-secs">4</div>
секунд
</span>
</div>
</div>
<img src="/static/xmas_decor.png"></img>
<div id="counter-message">
<b>С наступающим Новым годом!</b>
</div>
</div>

<script>
let counter = document.getElementById("counter");
let counterBlock = document.getElementById("counter-block");
let counterMessage = document.getElementById("counter-message");
let counterHeader = document.getElementById("counter-header");
let counterDays = document.getElementById("ny-days");
let counterHours = document.getElementById("ny-hours");
let counterMins = document.getElementById("ny-mins");
let counterSecs = document.getElementById("ny-secs");

let counterInterval = null;

function updateNewYearCounter() {
	const now = new Date();
	const currentYear = now.getFullYear();
	const nextYear = currentYear + 1;
	const newYear = new Date(`January 1, ${nextYear} 00:00:00`)
	const timeLeft = newYear - now;

	const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
	const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	const mins = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
	const secs = Math.floor((timeLeft % (1000 * 60)) / 1000);

	if (days > 30) {
		counterMessage.innerHTML = `<b>С новым ${currentYear} годом!</b>`;
		counter.style.display = 'none';
		counterHeader.style.display = 'none';
		clearInterval(counterInterval);
	} else {
		counterDays.innerText = days.toString();
		counterHours.innerText = hours.toString();
		counterMins.innerText = mins.toString();
		counterSecs.innerText = secs.toString();
	}
}

document.addEventListener('DOMContentLoaded', () => {
	updateNewYearCounter();
	counterBlock.style.display = 'block';
	counterInterval = setInterval(updateNewYearCounter, 1000);
});
</script>
{% endif %}

{% endblock %}
