{% extends "base.html" %}
{% block head %}
<title>SCRadio</title>
<meta name="description" content="Сайт SCRadio: слушать онлайн">
<meta name="keywords" content="всрадио, scradio, слушать всрадио, scradio слушать онлайн">
<meta property="og:title" content="SCRadio | Главная страница">
<meta property="og:description" content="Сайт SCRadio: слушать онлайн">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ web_base_url }}">
<meta property="og:image" content="{{ web_base_url }}static/scradio.png">
{% endblock %}
{% block content %}
<div class="player">
<img id="song-info-cover" src="{{ metadata.now_playing.cover_url }}"></img>

<div class="song-info">
<div id="song-info-title" class="scroll song-info-string">{{ metadata.now_playing.title }}</div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-microphone"></i><span id="song-info-artist">{{ metadata.now_playing.artist }}</span></div><br>
<div class="scroll song-info-string"><i class="fa-solid fa-record-vinyl"></i><span id="song-info-album">{{ metadata.now_playing.album }}</span></div><br>

</div>

<div class="toolbar-container">
<div class="toolbar">
<i id="song-playlist" class="fa-solid fa-list-ul"></i>
<i id="song-lyrics" class="fa-solid fa-file-lines"></i>
<span class="song-like-container">
<i id="song-dislike" class="fa-regular fa-thumbs-down"></i>
<span class="likes_count" id="song-dislikes">2</span>
</span>
<i id="song-play" class="fa-solid fa-play"></i>
<span class="song-like-container">
<i id="song-like" class="fa-regular fa-thumbs-up"></i>
<span class="likes_count" id="song-likes">5</span>
</span>
<i id="song-settings" class="fa-solid fa-gear"></i>
</div>
</div>

<div id="playlist-modal" class="modal">
<div class="modal-content">
<h1>Плейлист</h1>
<div id="playlist-content" class="modal-text">
<div class="track">
<img src="{{ metadata.now_playing.cover_url }}"></img>
<div class="track-info">
<div class="track-title scroll">{{ metadata.now_playing.title }}</div>
<div class="track-artist scroll">{{ metadata.now_playing.artist }}</div>
</div>
<i class="fa-regular fa-thumbs-up"></i>
<i class="fa-regular fa-thumbs-down"></i>
</div>
</div>
<button id="playlist-close" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
</div>
</div>

<div id="settings-modal" class="modal">
<div class="modal-content">
<h1>Настройки</h1>
<div class="modal-text">
</div>
<button id="settings-cancel" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
<button id="settings-save" class="modal-btn"><i class="fa-solid fa-floppy-disk"></i> Сохранить</button>
</div>
</div>

<div id="lyrics-modal" class="modal">
<div class="modal-content">
<h1>Текст песни</h1>
<div id="lyrics-text" class="modal-text">
</div>
<button id="lyrics-close" class="modal-btn"><i class="fa-solid fa-close"></i> Закрыть</button>
</div>
</div>


<script>
function autoUpdatePlaylist() {
	playlistContainer = document.getElementById("playlist-modal");
	renderPlaylist(playlistContainer);
	}
function checkTextOverflow() {
    document.querySelectorAll(".scroll").forEach((e) => {
    if (e.scrollWidth > e.clientWidth) {
        e.classList.add('scroll-animation');
        const scrollDistance = e.offsetWidth - e.scrollWidth - 60;
        e.style.setProperty("--scroll-distance", `${scrollDistance}px`);
        const scrollSpeed = 0.04;
        const scrollTime = scrollSpeed*(-scrollDistance);
        e.style.animation = `scroll-horizontal ${scrollTime}s linear infinite`;
    } else {
        e.classList.remove('scroll-animation');
        e.style.animation = null;
    }
    })
}

// Запускаем при загрузке
document.addEventListener('DOMContentLoaded', checkTextOverflow);

// И при изменении размера окна
window.addEventListener('resize', checkTextOverflow);

// Вещательные константы
const playerStreams = [
{
"name": "Opus",
"url": "{{icecast_base_url}}scradio.opus",
"type": "audio/ogg"
},
{
"name": "MP3",
"url": "{{icecast_base_url}}scradio",
"type": "audio/mpeg"
}
];
const metadataUrl = '/api/metadata?likes=1';

// дефолт конфиг
const defaultConfig = {
	format: playerStreams[0],
	metadataInTitle: true,
	coverInFavicon: true
	}

let config = defaultConfig;

function saveConfig() {
	localStorage.setItem('config', JSON.stringify(config));
	}

function loadConfig() {
	config = localStorage.getItem('config');
	if (config) {
		config = JSON.parse(config);
	} else {
		config = defaultConfig;
		saveConfig();
	}
}

// Состояния плеера
let playing = false;
let metadata = {};
let metadataInterval = null;
let audio = null;

function changeFavicon(href) {
	const oldFavicon = document.querySelector('link[rel=icon]');
	if (oldFavicon) oldFavicon.remove();
	
	const favicon = document.createElement('link');
	favicon.rel = 'icon';
	favicon.href = href;
	document.head.appendChild(favicon);
}


function updateMetadata(songObj, again) {
	fetch(metadataUrl)
	.then(response => response.json())
	.then(data => {
		metadata = data;
		let nowPlaying = data["now_playing"];
		songObj.title.innerText = nowPlaying["title"];
		songObj.artist.innerText = nowPlaying["artist"];
		songObj.album.innerText = nowPlaying["album"];
		songObj.cover.src = nowPlaying["cover_url"];
		songObj.lyrics.innerText = nowPlaying["lyrics"];
		songObj.likesCount.innerText = nowPlaying["likes"];
		songObj.dislikesCount.innerText = nowPlaying["dislikes"];
		if (nowPlaying.likes == 0) {
			songObj.likesCount.style.display = "none";
		} else {
			songObj.likesCount.style.display = "inline-block";
			}
		if (nowPlaying.dislikes == 0) {
			songObj.dislikesCount.style.display = "none";
		} else {
			songObj.dislikesCount.style.display = "inline-block";
			}
		if (nowPlaying.rating == 1) {
			songObj.likeBtn.classList = "fa-solid fa-thumbs-up";
			songObj.dislikeBtn.classList = "fa-regular fa-thumbs-down";
		} else if (nowPlaying.rating == -1) {
			songObj.likeBtn.classList = "fa-regular fa-thumbs-up";
			songObj.dislikeBtn.classList = "fa-solid fa-thumbs-down";
		} else {
			songObj.likeBtn.classList = "fa-regular fa-thumbs-up";
			songObj.dislikeBtn.classList = "fa-regular fa-thumbs-down";
			}
		if (playing && config.metadataInTitle) {
			document.title = `${nowPlaying.artist} - ${nowPlaying.title} на SCRadio`;
		}
		if (playing && config.coverInFavicon && nowPlaying.cover_url) {
			changeFavicon(nowPlaying.cover_url);
			}
		checkTextOverflow();
		autoUpdatePlaylist();
	})
	.catch(error => {
		songObj.title.innerText = "Ошибка обновления метаданных";
		console.error("metadata error", error);
	});
	}

function autoUpdateMetadata(songObj) {
	if (metadataInterval == null) {
		metadataInterval = setInterval(() => {updateMetadata(songObj, false);}, 15000);
		}
	}

function togglePlay(playBtn, songObj) {
	if (playing) {
		playing = false;
		audio.pause();
		audio.removeAttribute('src');
		audio = null
		clearInterval(metadataInterval);
		playBtn.classList = "fa-solid fa-play";
		document.title = "SCRadio";
		changeFavicon("/static/scradio.png");
	} else {
		if (audio) {
            playing = true;
            togglePlay(playBtn, songObj);
            return;
        }
        audio = new Audio();
        playBtn.classList = "fa-solid fa-spinner fa-spin";
        
        let streamUrl = config.format.url;
        
        audio.src = streamUrl;
        playing = true;
        
        audio.addEventListener('play', () => {
        	playBtn.classList = "fa-solid fa-stop";
        	updateMetadata(songObj, false);
        	autoUpdateMetadata(songObj)
        });
        audio.addEventListener('pause', () => {
        	if (playing) togglePlay(playBtn, songObj);
		});
		audio.addEventListener('error', (e) => {
			console.log("playback error", e);
			togglePlay(playBtn, songObj);
			alert("Ошибка воспроизведения: ", e);
		});
		
		audio.play();
	};
};

function likeSong(likeBtn, song_id, rating, again, updateFunc) {
	if ('fa-spinner' in likeBtn.classList) return;
	let fetchUrl = "/api/songs/"+song_id+"/like";
	callbackClass = "fa-thumbs-up";
	if (rating == -1) {
		fetchUrl = "/api/songs/"+song_id+"/dislike";
		callbackClass = "fa-thumbs-down"
		}
	if (likeBtn.classList.contains('fa-solid')) {
		likeBtn.classList = "fa-solid fa-spinner fa-spin";
		fetch(fetchUrl, {method: "DELETE"})
		.then((response) => {
			if (response.ok) {
				likeBtn.classList = "fa-regular "+callbackClass;
				updateFunc();
				console.log("t");
				}
			else if (response.status === 429 && (!again)) {
console.log("rate-limited, retrying in 2s", response);
setTimeout(() => {likeSong(likeBtn, song_id, rating, false, updateFunc);}, 2000);
}
		})
		.catch(error => {
			console.log("like error", error);
		});
	} else {
		likeBtn.classList = "fa-solid fa-spinner fa-spin";
		fetch(fetchUrl)
		.then((response) => {
			if (response.ok) {
				likeBtn.classList = "fa-solid "+callbackClass;
				updateFunc();
				}
			else if (response.status === 429 && (!again)) {
console.log("rate-limited, retrying in 2s", response);
setTimeout(() => {likeSong(likeBtn, song_id, rating, false, updateFunc);}, 2000);
}
		})
		.catch(error => {
			console.log("like error", error);
		});
	}
};


function createPlaylistEntry(song, playlistContainer) {
	// создаем говно
	const songContainer = document.createElement("div");
	const songCover = document.createElement("img");
	const songInfo = document.createElement("div");
	const songTitle = document.createElement("div");
	const songArtist = document.createElement("div");
	const songLike = document.createElement("i");
	const songDislike = document.createElement("i");
	
	// вставляем значения
	songCover.src = `/static/media/Covers/${song.album_id}.jpg`; // почему я просто не вставил туда ссылку? двойные стандарты api!
	songTitle.innerText = song.title;
	songArtist.innerText = song.artist;
	
	// добро пожаловать на канал хренового программирования `говнокод тв`!
	songContainer.classList = "track";
	songInfo.classList = "track-info";
	songTitle.classList = "scroll track-title";
	songArtist.classList = "scroll track-artist";
	if (song.rating === 1) {
		songLike.classList = "fa-solid fa-thumbs-up";
		songDislike.classList = "fa-regular fa-thumbs-down";
	} else if (song.rating === -1) {
		songLike.classList = "fa-regular fa-thumbs-up";
		songDislike.classList = "fa-solid fa-thumbs-down";
	} else {
		songLike.classList = "fa-regular fa-thumbs-up";
		songDislike.classList = "fa-regular fa-thumbs-down";
		};
	
	// обработчики
	songLike.addEventListener('click', () => {
		likeSong(songLike, song.id, 1, false, () => {
if (songLike.classList.contains('fa-solid')) song.rating = 1;
else song.rating = null;
autoUpdatePlaylist();});
		});
	songDislike.addEventListener('click', () => {
		likeSong(songDislike, song.id, -1, false, () => {
if (songDislike.classList.contains('fa-solid')) song.rating = -1;
else song.rating = null;
autoUpdatePlaylist();});
		});
	
	// улучшаем демографическую ситуацию
	songContainer.appendChild(songCover);
	songContainer.appendChild(songInfo);
	songInfo.appendChild(songTitle);
	songInfo.appendChild(songArtist);
	songContainer.appendChild(songLike);
	songContainer.appendChild(songDislike);
	
	return songContainer;
}
	

// ой блять это пиздец
function renderPlaylist(playlistContainer) {
	if (playlistContainer.style.display === 'block') { //ну а нахуя грузить обложки в фоне???
		const playlistContent = playlistContainer.querySelector('.modal-text');
		playlistContent.innerHTML = "";
		for (const playlistEntry in metadata.prev_songs) {
			const songContainer = createPlaylistEntry(metadata.prev_songs[playlistEntry], playlistContainer);
			playlistContent.appendChild(songContainer);
			}
		const nowSongContainer = createPlaylistEntry(metadata.now_playing, playlistContainer);
		nowSongContainer.style.backgroundColor = getComputedStyle(document.documentElement).getPropertyValue("--light").trim();
		playlistContent.appendChild(nowSongContainer);
		for (const playlistEntry in metadata.next_songs) {
			const songContainer = createPlaylistEntry(metadata.next_songs[playlistEntry], playlistContainer);
			playlistContent.appendChild(songContainer);
			}
		checkTextOverflow();
	}
};

function renderSettings(settingsContainer) {
	const settingsContent = settingsContainer.querySelector(".modal-text");
	settingsContent.innerHTML = "";
	
	// выбор формата
	const formatSelect = document.createElement("select");
	formatSelect.id = "settings-format";
	for (const i in playerStreams) {
		if (config.format.url == playerStreams[i].url) {
			const opt = new Option(playerStreams[i].name, i, false, true);
			formatSelect.appendChild(opt);
		} else {
			const opt = new Option(playerStreams[i].name, i);
			formatSelect.appendChild(opt);
		}
	}
	settingsContent.innerHTML += "Формат: ";
	settingsContent.appendChild(formatSelect);
	
	const brBrPatapim = document.createElement("br");
	settingsContent.appendChild(brBrPatapim);
	
	// кнопочки про метаданные
	const pizdaSelect = document.createElement("input");
	const pizdaSelectLabel = document.createElement("label");
	pizdaSelect.type = "checkbox";
	pizdaSelect.name = "metadata-in-title";
	pizdaSelect.id = "metadata-in-title";
	if (config.metadataInTitle) pizdaSelect.checked = true;
	pizdaSelectLabel.for = "metadata-in-title";
	pizdaSelectLabel.innerText = " Метаданные в названии сайта";
	settingsContent.appendChild(pizdaSelect);
	settingsContent.appendChild(pizdaSelectLabel);
	
	const brBrPatapimb = document.createElement("br");
	settingsContent.appendChild(brBrPatapimb);
	
	const xyiSelect = document.createElement("input");
	const xyiSelectLabel = document.createElement("label");
	xyiSelect.type = "checkbox";
	xyiSelect.name = "cover-in-favicon";
	xyiSelect.id = "cover-in-favicon";
	if (config.coverInFavicon) xyiSelect.checked = true;
	xyiSelectLabel.for = "cover-in-favicon";
	xyiSelectLabel.innerText = " Обложка песни в Favicon";
	settingsContent.appendChild(xyiSelect);
	settingsContent.appendChild(xyiSelectLabel);
	}

function saveSettings(settingsContainer) {
	const settingsContent = settingsContainer.querySelector(".modal-text");
	
	// выбор формата
	const formatSelect = settingsContent.querySelector("#settings-format");
	const formatSelectIndex = +(formatSelect.value);
	config.format = playerStreams[formatSelectIndex];
	
	// метаданная хуйня
	const pizdaSelect = document.querySelector("#metadata-in-title");
	const xyiSelect = document.querySelector("#cover-in-favicon");
	config.metadataInTitle = pizdaSelect.checked;
	config.coverInFavicon = xyiSelect.checked;
	
	saveConfig();
	location.reload();
	}
	

document.addEventListener('DOMContentLoaded', () => {
	// Элементы плеера
	const songTitle = document.getElementById("song-info-title");
	const songArtist = document.getElementById("song-info-artist");
	const songAlbum = document.getElementById("song-info-album");
	const songCover = document.getElementById("song-info-cover");
	const songLyricsContainer = document.getElementById("lyrics-modal");
	const songLyrics = document.getElementById("lyrics-text");
	const playBtn = document.getElementById("song-play");
	const likeBtn = document.getElementById("song-like");
	const likesCount = document.getElementById("song-likes");
	const dislikeBtn = document.getElementById("song-dislike");
	const dislikesCount = document.getElementById("song-dislikes");
	const settingsBtn = document.getElementById("song-settings");
	const lyricsBtn = document.getElementById("song-lyrics");
	const lyricsCloseBtn = document.getElementById("lyrics-close");
	const playlistBtn = document.getElementById("song-playlist");
	const playlistContainer = document.getElementById("playlist-modal");
	const playlistContent = document.getElementById("playlist-content");
	const playlistCloseBtn = document.getElementById("playlist-close");
	const settingsContainer = document.getElementById("settings-modal");
	const settingsCancelBtn = document.getElementById("settings-cancel");
	const settingsSaveBtn = document.getElementById("settings-save");
	const songObj = {title: songTitle, artist: songArtist, album: songAlbum, cover: songCover, likeBtn: likeBtn, dislikeBtn: dislikeBtn, lyrics: songLyrics, likesCount: likesCount, dislikesCount: dislikesCount};
	
	loadConfig();
	updateMetadata(songObj, false);
	
	// Вешаем обработчики
	playBtn.addEventListener('click', () => {
		togglePlay(playBtn, songObj);
		});
	
	likeBtn.addEventListener('click', () => {
		song_id = metadata["now_playing"]["id"];
		console.log(song_id);
		likeSong(likeBtn, song_id, 1, false, () => {updateMetadata(songObj, false);});
	});
	
	dislikeBtn.addEventListener('click', () => {
		song_id = metadata["now_playing"]["id"];
		likeSong(dislikeBtn, song_id, -1, false, () => {updateMetadata(songObj, false);});
	});
	
	lyricsBtn.addEventListener('click', () => {
		songLyricsContainer.style.display = "block";
		});
	
	lyricsCloseBtn.addEventListener('click', () => {
		songLyricsContainer.style.display = "none";
		});
		
	
	playlistBtn.addEventListener('click', () => {
		playlistContainer.style.display = "block";
		renderPlaylist(playlistContainer);
		});
	
	playlistCloseBtn.addEventListener('click', () => {
		playlistContainer.style.display = "none";
		});
	
	settingsBtn.addEventListener('click', () => {
		renderSettings(settingsContainer);
		settingsContainer.style.display = 'block';
		});
	
	settingsCancelBtn.addEventListener('click', () => {
		settingsContainer.style.display = 'none';
		});
	
	settingsSaveBtn.addEventListener('click', () => {
		saveSettings(settingsContainer);
		settingsContainer.style.display = 'none';
		});

});
</script>
</div>

{% endblock %}
